@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lesira Manufacturing Pty Ltd<br />
    Pretoria, Gauteng 0186<br />
    <abbr title="Phone">P:</abbr>
    012 333 7326
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:info@lesira.co.za">info@lesira.co.za</a>
</address>